
<h1>Categories</h1>
<div>
  <ul id='category-list'>
    <% if @categories.any?  %>
      <% @categories.each do |cat| %>
        <li><%= link_to cat.name, category_path(cat) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
